html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(180deg, rgba(46, 8, 67, 0.82) 0%, rgba(0, 0, 0, 0.49) 88%);
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: white;
}

section2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    flex-wrap: wrap;
}

.section2-img {
    width: 100%;
}

.div-h2 {
    font-family: sans-serif;
    text-align: center;
    font-weight: normal;
    font-size: medium;
}

h1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    flex-wrap: wrap;
}

section1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    flex-wrap: wrap;
    background-color: #222222;
    border-radius: 15px;
    padding-bottom: 2%;
    padding-top: 2%;
    margin-top: 2%;
}

.srodek {
    width: 350px;
    padding-bottom: 25px;
}

.section1-img {
    width: 100%;
    align-self: center;
    border-radius: 10px;
}

.div-h1 {
    font-family: sans-serif;
    text-align: center;
    font-weight: normal;
}

.car_images {
    display: flex;
    justify-content: center;
    align-items: center;
}

.opisy {
    font-family: sans-serif;
    text-align: center;
    font-size: large;
}

.tytuly {
    font-family: sans-serif;
    text-align: center;
    font-size: xxx-large;
    font-weight: normal;
    margin-top: 30px;
    text-shadow: 2px 2px #b300ff;
}

.background {
    display: flex;
    max-width: 1200px;
    max-height: 480px;
    margin: auto;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 10px 10px;
}

.background_image_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
    flex-direction: column;
    text-align: center;
}


.opis_padding {
    position: absolute;
    max-width: 90%;
    max-height: 400px;
    list-style-type: none;
    font-family: sans-serif;
    margin: auto;
    background-color: rgba(255,255,255,0.7);
    border-radius: 10px;
    height: 400px;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.numer_tel {
    color: darkblue;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 2px;
}

.tekst {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: column;
    max-width: 95%;
    text-align: center;
}

.oferta {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: grey;
    padding: 0;
    width: 300px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid black;
    font-family: sans-serif;
    font-weight: bold;
    font-size: large;
    text-decoration: none;
    transition: 0.5s;
}

.oferta:hover {
    scale: 120%;
    transition: 0.5s;
}

.oferta_link {
    color: white;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: x-large;
    text-decoration: none;
    letter-spacing: 2px;
}

.tytul {
    font-family: sans-serif;
    text-align: center;
    font-size: xxx-large;
    font-weight: normal;
}

.table_big {
    font-family: sans-serif;
    text-align: center;
    font-size: x-large;
    font-weight: normal;
    color: limegreen;
}

.table_small {
    font-family: sans-serif;
    text-align: center;
    font-size: large;
    font-weight: normal;
    margin-bottom: 20px;
    color: white;
}

.car_spec {
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: center;
}

.table_cell {
    width: 200px;
    padding-bottom: 5px;
}

.table_cell1 {
    width: 200px;
    padding-bottom: 30px;
}

.limited_offer {
    display: block;
    position: absolute;
    max-width: 250px;
    margin-bottom: -430px;
    margin-left: -100px;
    transform: rotate(-5deg);
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}


.nav {
    height: 80px;
    background: rgb(26, 25, 25);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    box-sizing: border-box;
    border-radius: 0 0 0px 0px;
    margin-bottom: 30px;
}

.nav-container {
    display: flex;
    width: 100%;
    max-width: 1400px;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.nazwa_firmy {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    list-style: none;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo img {
    height: 70px;
    width: auto;
}

.nav1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 1;
    flex-wrap: wrap;
}

.nav1 li {
    white-space: nowrap;
}

.nav1 a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.nav1 a:hover {
    color: #b300ff;
}

.nav2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-shrink: 0;
    flex-wrap: wrap;
}

.nav2 li {
    white-space: nowrap;
}

.nav2 a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.nav2 a:hover {
    color: #b300ff;
}

@media (max-width: 900px) {
    .nav {
        height: auto;
        flex-direction: column;
        padding: 15px 20px;
    }

    .nav-container {
        flex-direction: column;
        width: 100%;
    }

    .nazwa_firmy {
        width: 100%;
        justify-content: center;
        margin-bottom: 15px;
    }

    .nav1 {
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        margin-bottom: 15px;
    }

    .nav1 li {
        width: 100%;
        text-align: center;
    }

    .nav2 {
        width: 100%;
        justify-content: center;
        gap: 20px;
    }

    .nav2 li {
        width: auto;
    }
}